# Entornos virtuales
venv/
myenv/
.env/

# Archivos de configuración específicos del entorno
*.env

# Archivos de bases de datos locales
*.sqlite3

# Archivos de logs
logs/
*.log

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de salida de pruebas
coverage/
*.cover
*.py,cover
.hypothesis/

# Archivos de salida de compilación
build/
dist/
*.egg-info/
